  <div class="flex flex-col w-full">
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<section class="grid h-screen grid-cols-6 blue-back w-full">
  <div class="col-span-4 pt-28 px-5">
    <div class="flex flex-col gap-12">
      <h2 class="font-bold text-8xl text-white">Cuidar é nossa paixão<h2>
      <p class="text-2xl text-white">Confie nos Guardiões de Ouro para cuidar dos seus entes queridos com dedicação, carinho e profissionalismo. Nossos cuidadores são altamente qualificados e comprometidos em proporcionar o melhor cuidado possível, garantindo conforto e segurança para aqueles que você ama. Estamos aqui para oferecer um suporte personalizado, adaptado às necessidades individuais de cada pessoa, com a atenção e o respeito que eles merecem.</p>
    </div>
  </div>
  <div class="col-span-2 bg-cover bg-center w-full h-full" style="background-image: url("../../assets/images/idosa.jpg")">
    
  </div>
</section>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  <div class="bg-gray-400 h-screen">conteudo 2</div>
  <div class="bg-gray-500">conteudo 2</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  <div class="bg-gray-600 h-screen">conteudo 2</div>
  <div class="bg-gray-600">conteudo 2</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

</div>
