<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">
  <div class="w-full flex items-start">

  <%= link_to "Voltar", registro_cuidadors_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
  <div class="w-full flex flex-col items-center gap-3">
  <h1 class="font-bold text-4xl h-20 items-center flex justify-center bg-white w-3/4 shadow rounded-lg">Novo registro diário</h1>

  <%= render "form", registro_cuidador: @registro_cuidador %>
  </div>

</div>
